
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }


  .heading h1 {
    text-align: center;
    margin: 0;
    padding-top: 170px;
    padding-bottom: 30px;

    }
  
  .signup-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
  }
  
  input {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

.Login-page{
/* display: flex; */
  background-image: url(../assets/food\ \(3\).jpg);
  background-size: cover;
  height: 150vh;

}


.Signup-page {
  background-image: url(../assets/food\ \(2\).jpg);
  background-size: cover;
  height: 150vh;
}

.notification {
  font-size: small;
  color: red;
  padding-top: 10px;
  font-weight: bold;
}

.Disclaimer{

  width: 26.5%;
  margin: 10px auto;
  font-weight: 400;
}